.mega-card-portfolio{
    display: flex;
    flex-wrap: wrap;
}

.individual-card{
    background-color: seashell;
    margin: 2rem auto;
    box-shadow: 10px 5px 5px black;
    border-radius: 3%;
    padding: 3%;
}

.imagen-proyecto{
    width: 60%;
}

.boton-visitar{
    background-color: rgb(144, 221, 67);
    text-decoration: none;
    padding: 0.8rem;
    border-radius: 3%;
}